html{
	overflow: hidden;
    background-image: url(../img/bg.jpg);
	background-size: 100%;
    background-position: center;
}

body{
	background-color: transparent !important;
}

img{
	width: 40%;
}

#welcome_text{
	margin-top: 5%;
	text-shadow: -4px 0 #c12480, 0 4px #c12480, 4px 0 #c12480, 0 -4px #c12480;
    color: white;
	font-family: fantasy;
	font-size: 70px;
}

#opener{
    width: 5000px;
    height: 5000px;
    background-color: #c12480;
    position: absolute;
    margin-left: -2500px;
	left: 50%;
	margin-top:-2500px;
	top: 50%;
	border-radius: 50%;
}