html{
	overflow: hidden;
    background-image: url(../img/bg.jpg);
	background-size: 85%;
}

body{
	background-color: transparent !important;
}

img{
	width: 40%;
}

#welcome_text{
	margin-top: 5%;
	text-shadow: -4px 0 #c12480, 0 4px #c12480, 4px 0 #c12480, 0 -4px #c12480;
    color: white;
	font-family: fantasy;
	font-size: 70px;
}